@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.touchSwipe.min.js"></script>
<script src="~/Scripts/Home/Index.js"></script>
<div class="row">
    <div class="col-xs-12" id="swipeScreen">

    </div>
</div>