.navbar {
    margin-bottom: 0px;
}

#swipeScreen {
    overflow: hidden;
}

.card {
    opacity: 0;
    position: absolute;
    z-index: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .card:first-child {
        opacity: 1;
        z-index: 10;
    }

/*override animate*/
@-webkit-keyframes fadeOutLeftCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0%, 0);
        transform: translate3d(-100%, 0%, 0);
    }
}

@keyframes fadeOutLeftCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0%, 0);
        transform: translate3d(-100%, 0%, 0);
    }
}

.fadeOutLeftCard {
    -webkit-animation-name: fadeOutLeftCard;
    animation-name: fadeOutLeftCard;
}

@-webkit-keyframes fadeOutRightCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0%, 0);
        transform: translate3d(100%, 0%, 0);
    }
}

@keyframes fadeOutRightCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0%, 0);
        transform: translate3d(100%, 0%, 0);
    }
}

.fadeOutRightCard {
    -webkit-animation-name: fadeOutRightCard;
    animation-name: fadeOutRightCard;
}

@-webkit-keyframes zoomInCard {
    50%, 60%, 70%, 80%, 90%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomInCard {
    50%, 60%, 70%, 80%, 90%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.zoomInCard {
    -webkit-animation-name: zoomInCard;
    animation-name: zoomInCard;
}

@-webkit-keyframes zoomOutCard {
    50%, 60%, 70%, 80%, 90%, 100% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1);
        transform: scale3d(.1, .1, .1);
    }
}

@keyframes zoomOutCard {
    50%, 60%, 70%, 80%, 90%, 100% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1);
        transform: scale3d(.1, .1, .1);
    }
}

.zoomOutCard {
    -webkit-animation-name: zoomOutCard;
    animation-name: zoomOutCard;
}

@-webkit-keyframes fadeInBackCard {
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInBackCard {
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInBackCard {
    -webkit-animation-name: fadeInBackCard;
    animation-name: fadeInBackCard;
}

@-webkit-keyframes fadeOutDownCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDownCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDownCard {
    -webkit-animation-name: fadeOutDownCard;
    animation-name: fadeOutDownCard;
}

@-webkit-keyframes fadeOutUpCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUpCard {
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUpCard {
    -webkit-animation-name: fadeOutUpCard;
    animation-name: fadeOutUpCard;
}
